{% extends 'index.html' %}

{% block start %}
    <table class="container-fluid">
        <tr>
            <th class="col-xs-4">Witamina</th>
            <th class="col-xs-4">Symbol i jednostka</th>
            <th class="col-xs-4">Rekomendowana wartość</th>
        </tr>
        {% for vitamin in vitamins %}
            <tr>
                <td><b>{{ vitamin.vitamin_name }}</b></td>
                <td>{{ vitamin.vitamin_symbol }} [{{ vitamin.vitamin_unit }}]</td>
                <td>{{ vitamin.vitamin_recomended_consuption }} </td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}