{% extends 'base.html' %}

{% block content %}
    <table>
        <tr>
            <th class="col-xs-4">Witaminy</th>
            <th class="col-xs-4">Nazwa</th>
            <th class="col-xs-4">Rekomendowana wartość</th>
        </tr>
        {% for vitamin in vitamins %}
            <tr>
                <td><b>{{ vitamin.vitamin_symbol }}</b> {{ vitamin.vitamin_unit }}</td>
                <td>{{ vitamin.vitamin_name }}</td>
            <td>{{ vitamin.vitamin_recomended_consuption }} </td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}