{% extends 'index.html' %}
{% load static %}


{% block start %}
    <div class="container-fluid">
    <form method="GET">
        {% csrf_token %}
        <label>Podaj witaminę lub minerał:</label>
        <input type="text" name="filter_products" value="{{ filter_value }}"/>
        <button type="submit">Szukaj</button>
    </form>
    {#    <button id="reset-filters">RESET</button>#}
    {#    <input type="hidden" value="0" name="reset_filters" id="reset-filters-input" />#}
    <ul>
        {% for product_v in products_vitamin %}
            {#           <li><a href="{% url "products_list" product_v.id %}"><b>{{ product_v.product_name }}</b></a></li>#}
            <form method="POST">
                {% csrf_token %}
                <li><a href="{% url "products_list" %}#{{ product_v.id }}"><b>{{ product_v.product_name }}</b></a>
                    &nbsp;&nbsp;
                <input type="image" name="add_to_favorite" src="{% static 'images/add-favourite.png' %}"/>
                </li>
            </form>

            {% for v in product_v.valuevit_set.all %}
                {% if v.vitamin.vitamin_symbol == filter_value or v.vitamin.vitamin_name == filter_value %}
                    <ul>
                        <li>{{ v.vitamin }} - {{ v.value }}</li>
                    </ul>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
    <ul>
        {% for product_m in products_mineral %}
            <form method="POST">
                {% csrf_token %}
{#           <li><a href="{% url "products_list" product_m.id %}"><b>{{ product_m.product_name }}</b></a></li>#}
            <li><a href="{% url "products_list" %}#{{ product_m.id }}"><b>{{ product_m.product_name }}</b></a>
                &nbsp;&nbsp;
            <input type="image" name="add_to_favorite" src="{% static 'images/add-favourite.png' %}"/>
            </li>
            </form>
             {% for m in product_m.valuemineral_set.all %}
                {% if m.mineral.mineral_symbol == filter_value or m.mineral.mineral_name == filter_value %}
                    <ul>
                        <li>{{ m.mineral }} - {{ m.value }}</li>
                    </ul>
                {% endif %}
            {% endfor %}

        {% endfor %}
    </ul>
    </div>
{% endblock %}