table {
    border-spacing: 5px 10px;
    border: 1px solid #111;
}
tr.product {
    border-bottom: 2px solid #111;
}
td, th{
    padding: 7px 10px 10px 10px;
}
th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: left;
}
.id-fix {
    padding-top: 40px;
    margin-top: -40px;
}
